/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 .lmfp-featuredpost{
	width: 100%;
	background-color: #333333;
	position: relative;
	padding: 7px 20px;
}
.lmfp-featuredpost a{
	color: #ffd600;
	font-size: 17px;
}
